<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exclusive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exclusive listings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Exclusive</strong><br>
    <ion-button colour="default" size="small" shape="round" fill="outline" (click)="displayExclusiveProperties()">Show listings</ion-button>
    <ul class="property-cards">
      <li *ngFor="let property of arrExclusiveProperties">ID:{{property.id}}<br>Name:{{property.name}}<br>Address: {{property.address}}<br>Type: {{property.type}}<br>Listing: {{property.listing}}<br>Bedrooms: {{property.bedrooms}}<br>Bathrooms: {{property.bathrooms}}<br>Parking: {{property.parking}}<br>Available: {{property.available}}<br>Agent Name: {{property.agentName}}<br>Agent email: {{property.agentEmail}}<br>Agent Phone: {{property.agentPhone}}<br>Exclusive listing: {{property.exclusive}}</li>
    </ul>
  </div>

</ion-content>