#container {
    padding: 1em;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }

  .property-cards {
    border: solid 1px rgb(176, 176, 176);
    border-radius: 4px;
    padding: .5em;
  }